body{
  background-image: url(/images/space.jpg);
  
}

.main-content{
  padding: 20px;
}

.post-title{

  color: #1976d2;
  font-size: 1.7em;
  font-weight: bold;

}

.post-description{
}

.footer {
  color:white;
  font-size: 0.7em;

}
 
 .footer-text{
 font-size: 1.2em;
   position:fixed;
   bottom: 10px;
   width: 100%;
   font-weight: bold;
  -webkit-text-stroke: 0.5px black;
   color: #f35626;
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
    
;   


 }

@-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }
    
    to {
      -webkit-filter: hue-rotate(360deg);
    }
}

.social {
	overflow: auto;
}

.social li {
	list-style-type: none;
	float: left;
}

.date{
  color:#9D9D9D;
   font-style: italic;
}

.logo{
  margin-top: 2px;
  margin-left: 20px;

}

#lights{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
   top: 64px;
   z-index: -1;

}

#candy{
  position:fixed;
  bottom:0;
  width: 100%;
  height: 10px;
  background-image: url(/images/candy.png); 
  background-repeat:repeat-x; 


}



ul#menu li {
    display:inline;
    padding-left:2%;
    padding-right: 2%;
    font-weight: bold;
    font-size: 0.9em;

  }

  
.social-link {
  margin-left: 100px;
  
}



.post{
  margin-bottom: 35px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}


.project{
  padding: 30px;
}

h5{
  font-weight:bold;

}


#contact_button{
  margin-top: 30px;



}

#contact_message{
  color:white;
  height: 160px;

}

#contact_email{
  color:white;
}

#contact_form{
  width: 80%;
  margin: 0px auto;

}

#post-image{
  max-width: 900px;

}
