--- 
layout: default 
title-page: Trabajos de Frostq - Diego López García 
meta: Todos los proyectos más importantes en forma de lista que he realizado hasta la fecha 
description: Todos los proyectos más importantes en forma de lista que he realizado hasta la fecha 
redirect_to:
  - http://www.codingpotions.com/about
--- 

{% include navbar.html %}


<main class="container main_content ">

<h2>Mis proyectos</h2>
    <div class="flex two">
    {% for project in site.pages reversed%}
    {% if project.type == 'project' %}
    <article class="project full half-500">
      <div class="project_thumb">
      <img class="responsive-img" src="{{site.baseurl}}/images/projects/{{project.image}}">
    </div>
        <div class="project_info">
        <a class="post-title" href="{{project.url}}">
          <h3 class="post-title">{{project.title}}</h3>
        </a>
        <p>{{project.description}}</p>
        <p><a href="{{project.url}}">Leer más</a></p>
        {% for tag in project.tenol %}
        <a class="tags" href="/tag#{{ tag | slugify }}">{{ tag }}</a>
        {% endfor %}

      </div>
      </article>
    {% endif %} 
    {% endfor %}
  </div>
</main>


