--- 
layout: default 
title-page: Trabajos de Frostq - Diego López García 
meta: Todos los proyectos más importantes en forma de lista que he realizado hasta la fecha 
description: Todos los proyectos más importantes en forma de lista que he realizado hasta la fecha 
--- 

{% include navbar.html %}


<main class="container main_content ">

{% if site.active_lang == 'es' %}
<h2>Mis proyectos</h2>

{% endif %}

{% if site.active_lang == 'en' %}
<h2>My project (in spanish)</h2>

{% endif %}

    {% for project in site.pages %}
    {% if project.type == 'project' %}
    <article class="project">
        <img class="responsive-img" src="{{site.baseurl}}/images/projects/{{project.image}}">
        <a class="post-title" href="{{project.url}}">
          <h3 class="post-title">{{project.title}}</h3>
        </a>
        <p>{{project.description}}</p>
        {% for tag in project.tenol %}
        <a class="tags" href="/tag#{{ tag | slugify }}">{{ tag }}</a>
        {% endfor %}

      </article>
    <hr aria-hidden="true"> 
    {% endif %} 
    {% endfor %}
</main>


