---
layout: default
title: Proyectos
meta: Proyectos de Frostq
---

<h4>Mis proyectos</h4>

 {% for project in site.pages %}
    {% if project.type == 'project' %}

<li>
<a href="{{site.baseurll}}{{project.url}}">
    <div class="card horizontal">
      <div class="card-image">
        <img class="responsive-img" src="{{site.baseurl}}/images/projects/{{project.image}}">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h5>{{project.title}}</h5>
          <p>{{project.description}}</p>
        </div>
      </div>
  </div>
</a>


</li>
 {% endfor %}
