---
layout: default
title-page: Diego López García - Sobre mí
meta: ¿Quién está detrás de Frostq? ¿Quién escribe todos esos tutoriales sobre desarrollo web?
description: ¿Quién está detrás de Frostq? ¿Quién escribe todos esos tutoriales sobre desarrollo web?
---

 {% include navbar.html %}

{% if site.active_lang == 'es' %}
<div class="container main_content about_me_page">
  <h2 class="main_title">Sobre mí</h2>
  <div class="flex full">
    <div class="full fourth-1000">
      <img class="thumb responsive-img about_img" width="400px" src="https://i.imgur.com/nQnjlwF.jpg">
    </div>
    <div class="full three-fourth-1000 about_me">


      <p>Hola, soy Diego López García, natural de Illescas, una localidad de Toledo. </p>

      <p>Construí este sitio con la intención de apuntar mis conocimientos por si en un futuro quiero recordarlos, lo hago en
        formato web porque así puedo compartirlos con mas personas. </p>

      <p> En mis tiempos libres me gusta jugar a los videojuegos. También me gusta mucho el diseño gráfico, todo lo que he aprendido
        y aprendo de diseño es de forma autodidacta. </p>

      <p>Me gusta también el buen cine, la música y la tranquilidad.</p>



    </div>
  </div>

  <p>Actualmente me dedico al desarrollo web ya que mezclan los dos campos que más me gustan, el desarrollo y el diseño. Usualmente
    suelo trabajar con Angular, es de mis tecnologías preferidas en el mundo del frontend. Trabajando con Angular llevo desde
    que salió la beta de Angular 2 (2016), pero estoy intentando aprender a usar VueJS (cada día Javascript me gusta más)
    para ver si me gusta más que Angular.</p>

  <p>Si tengo que trabajar en el lado del backend uso Spring porque Java es con el lenguaje con el que empecé y es con el que
    más cómodo me siento.</p>
  <p>Si quieres contactar conmigo lo puedes hacer mediante el siguiente email:
    <b>diego.lopezgarcia@hotmail.com</b>
  </p>

  <p>Si te interesa también me puedes encontrar por aquí:</p>

  <ul>
    <li>
      <a class="social-link" href="https://www.linkedin.com/in/diegolopgr/">Linkedin</a>
    </li>
    <li>
      <a class="social-link" href="https://github.com/Frostqui">Github</a>
    </li>
    <li>
      <a class="social-link" href="https://www.behance.net/frostq">Portfolio</a>
    </li>
    <li>
      <a class="social-link" href="https://www.youtube.com/channel/UCwAnwikIiqmnjkloScFrYKQ">Youtube</a>
    </li>
  </ul>


</div>

{% endif %} {% if site.active_lang == 'en' %}

<div class="container main_content about_me_page">
  <h2 class="main_title">About me</h2>
  <div class="flex full">
    <div class="full fourth">
      <img class="thumb responsive-img about_img" width="400px" src="https://i.imgur.com/nQnjlwF.jpg">
    </div>
    <div class="full three-fourth about_me">



      <p>Hi!, Im Diego López García from Illescas (Spain) </p>

      <p>Soy amante del desarrollo, en especial del desarrollo web. Construí este sitio con la intención de apuntar mis conocimientos
        por si en un futuro quiero recordarlos, lo hago en formato web porque así puedo compartirlos con mas personas. </p>

      <p>I made this site in case I ever want to remember something, but also, to share my knowledge with the world</p>




      <p>In my free time I like to play videogames. I like also graphic design, all of my knowledge of this topic, I've learned
        it by myself</p>



    </div>
  </div>

 
  <p>Actually, I work as web developer beacuse it mix the two things I like, programming and design. Usually I work with Angular,
    cause it is one of my favorite web technologies out three I worked in Angular since 2006, where Angular 2 beta was realeased,
    but I want to learn something new, maybe VueJS (each day I like Javascript more).
  </p>


  <p>If I have to work in the server side, I use Spring because with Java I'm confortable.</p>


  <p>If you want to contact me, you can send me an email to:</p>
  <b>diego.lopezgarcia@hotmail.com</b>
  </p>



  <ul>
    <li>
      <a class="social-link" href="https://www.linkedin.com/in/diegolopgr/">Linkedin</a>
    </li>
    <li>
      <a class="social-link" href="https://github.com/Frostqui">Github</a>
    </li>
    <li>
      <a class="social-link" href="https://www.behance.net/frostq">Portfolio</a>
    </li>
    <li>
      <a class="social-link" href="https://www.youtube.com/channel/UCwAnwikIiqmnjkloScFrYKQ">Youtube</a>
    </li>
  </ul>


</div>

{% endif %}