---
layout: default
title-page: Blog de desarrollo web y software - Frostq
meta: Artículos y tutoriales destacados sobre desarrollo web para iniciarse
description: Artículos y tutoriales destacados sobre desarrollo web para iniciarse
---

{% include navbar.html %}

<main class="container main_content blog_archive">
    <h2>Blog archive</h2>
    <ul class="all_posts">
    {% for post in site.posts  %}
        {% if post.lang == site.active_lang %}
            {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
            {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

            {% if forloop.first %}
            <h2 id="{{ this_year }}-ref">{{this_year}}</h2>
        
            {% endif %}

        <li><a href="{{site.baseurl}}{{post.url}}" ><h3 class="post-title" >{{post.title}}</h3></a> </li>

            {% if forloop.last %}
        
            {% else %}
                {% if this_year != next_year %}
            
                <h2 id="{{ next_year }}-ref" class="posts_year">{{next_year}}</h2>
                
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}

</ul>




</main>
