---
layout: default
---

<div class="container posts z-depth-2">

<ul>
  {% for post in site.posts %}

  <li class="post white">
  <a class="post-title" href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
  <div class="date">{{post.date | date: '%B %d, %Y'}}  </div> <a class="kappa"> Kappa</a>
  <p class="post-description">
  {{ post.description }}
</p>
  {% if post.content | post_contains_excerpt_tag %}
  <a href="{{site.baseurl}}{{post.url}}" class="waves-effect waves-light btn">Leer más</a>
  {% endif %}
  </li>

  {% endfor %} 

</ul>

</div>

