---
layout: default
redirect_to:
  - http://www.codingpotions.com/
---


{% include header.html %}

<main>
  

    {% include post_list_two_columns.html %}

    {% include advert_telegram.html %}

    <div class="container main_content">
    
      {% include post_list_one_column.html %}
    
      <p class="advise center">Si estás buscando más posts los puedes encontrar <a href="/blog">aquí <span class="visuallyhidden">encontrarás mas posts escritos por mí</span></a></p>
      <p class="description center">
        Frostq es un blog de programación y desarrollo web. Aquí podrás encontrar todo tipo de artículos y tutoriales de programación,
        siempre desde un punto de vista práctico. El desarrollo web es un mundo que me apasiona, al principio era muy de angular pero con el paso
        del tiempo me he pasado a VueJS.
     <p class="contact center">
       Te dejo mi email por si tienes cualquier tipo de duda o simplemente quieres decirme algo:
     </p>
     <p class="email center">
       <a href="mailto:diego.lopezgarcia@hotmail.com">diego.lopezgarcia@hotmail.com</a>
     </p>
  </div>

</main>


