---
layout: default
---


<div class="container posts">

<ul>
  {% for post in site.posts %}

  <li class="post">
  <a href="{{site.baseurl}}{{post.url}}" ><h2 class="post-title" >{{post.title}}</h2></a>
  </br>
  <a class="date">{{post.date | date: '%B %d, %Y'}}  </a>

{% for tag in post.tags %}
            <a class="tag" href="/tag#{{ tag | slugify }}">{{ tag }}</a>
      {% endfor %}

  
  <p class="post-description">
  {{ post.description }}
</p>


 <a class="read_more" href="{{site.baseurl}}{{post.url}}"><i class="fa fa-chevron-right" aria-hidden="true"></i >  Leer más</a>



</li>

<hr>
  {% endfor %} 

</ul>

</div>

