---
layout: default
title-page: Tags y categorías 
meta: Todos los artículos sobre desarrollo web ordenados por categorías
description: Todos los artículos sobre desarrollo web ordenados por categorías
---

{% comment %}
=======================
The following part extracts all the tags from your posts and sort tags, so that you do not need to manually collect your tags to a place.
=======================
{% endcomment %}
{% assign rawtags = "" %}
{% for post in site.posts %}
	{% assign ttags = post.tags | join:'|' | append:'|' %}
	{% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% comment %}
=======================
The following part removes dulpicated tags and invalid tags like blank tag.
=======================
{% endcomment %}
{% assign tags = "" %}
{% for tag in rawtags %}
	{% if tag != "" %}
		{% if tags == "" %}
			{% assign tags = tag | split:'|' %}
		{% endif %}
		{% unless tags contains tag %}
			{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
		{% endunless %}
	{% endif %}
{% endfor %}

{% include navbar.html %}


<main class="container main_content">
<h2 class="tags_page_title">Tags</h2>
{% for tag in tags %}
	<h2 id="{{ tag | slugify }}">{{ tag }}</h2>
	<ul class="tags_style">
	 {% for post in site.posts %}
		 {% if post.tags contains tag %}
		 <li>
		
		 <a href="{{site.baseurl}}{{post.url}}" ><h3 class="post-title" >{{post.title}}</h3></a> <small class="date">{{ post.date | date_to_string }}</small>
		 </li>
		 {% endif %}
     
	 {% endfor %}
	</ul>
{% endfor %}
</main>