<article class="full post_half_bg" style="background-image: linear-gradient( rgba(52, 68, 83, 0.3), rgba(41, 56, 68, 0.9) ), url({{site.baseurl}}/images/posts/angular-2.jpg)">
     
    <div class="half_bottom">
        <h2>FEATURED</h2>
     <h3 class="half_title"> <a class="white" href="{{site.baseurl}}series/angular">Angular para todos</a></h3>

     <p class="half_summary">¿Quieres aprender a crear webs con Angular? <i><strong>Angular para todos</strong> </i>es una serie de artículos en la que explico desde cómo instalarlo a cómo crear componentes y testearlos.</i></p>

      
    
    </div>
   
  </article>