<article class="full post_half_bg center" style="background-image: linear-gradient( rgba(52, 68, 83, 0.7), rgba(41, 56, 68, 0.9) ), url({{site.baseurl}}/images/posts/angular-2.jpg)">
     
    <div class="advert_info">
       
     <h3 class="half_title"> <a class="white" href="{{site.baseurl}}series/angular">ANGULAR DESDE 0</a></h3>

     <p class="half_summary">¿Quieres aprender a crear webs con Angular? <i><strong>Angular desde 0</strong> </i>es una serie de artículos en la que explico muchos aspectos del desarrollo de aplicaciones web con Angular. Desde cómo instalar Angular, hasta testing de componentes, pasando por tutoriales sobre servicios, pipes, etc.</i></p>

     <a href="{{site.baseurl}}/series/angular" ><button class="btn btn_outline">Más información</button></a>
      
    
    </div>
   
  </article>