
<header id="header" class="main_header">
  <div class="center">
     <a href="{{site.baseurl}}/">
      <img class="img-responsive center" id="header_logo" src="/images/logo2.png"/>
  </a>
    <h4 id="header_slogan">Web developing tutorials for maniacs</h4>
    <ul id="header_menu">
      <a href="/blog"> <li id="header_item">BLOG</li></a>
      <a href="/projects">  <li id="header_item">PROJECTS</li></a>
     <a href="/about"> <li id="header_item">ABOUT ME</li></a>
  <a href="/rss">  <li id="header_item">RSS</li></a>
    
    </ul>
  </div>

</header>
