<header id="header" class="main_header">
  <div class="center">
    <a href="{{site.baseurl}}/">
      <img alt="Frostq" class="img-responsive center" id="header_logo" src="/images/logo2.png" />
    </a>
    <h2 id="header_slogan">Web developing tutorials for maniacs</h2>

    

  </div>

</header>

<nav class="center">

    <!-- responsive-->
    <input id="bmenub" type="checkbox" class="show">
    <label for="bmenub" class="burger pseudo button"><i class="fa fa-bars"></i></label>

  <ul id="header_menu" class="menu">
    <a href="/blog">
      <li id="header_item">BLOG</li>
    </a>
    <a href="/projects">
      <li id="header_item">PROJECTS</li>
    </a>
    <a href="/about">
      <li id="header_item">ABOUT ME</li>
    </a>
    <a href="/rss">
      <li id="header_item">RSS</li>
    </a>

  </ul>
</nav>