
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-7551074192374685",
      enable_page_level_ads: true
    });
  </script>

  <link rel="shortcut icon" type="image/png" href="{{site.baseurl}}/images/favicon.png" />



  <link href="https://fonts.googleapis.com/css?family=Lato|Titillium+Web" rel="stylesheet">

  <link href="{{site.baseurl}}/css/prism.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/ficons@1.1.52/dist/ficons/font.css" rel="stylesheet">
  <link rel="stylesheet" href="{{site.baseurl}}/css/picnic.min.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/index.css">



  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:creator" content="@Diegolopgr">

  <meta name="keywords" content="Desarrollo web, software, blog programacion, tutoriales programación español, iniciarse en el desarrollo web"> {% if page.title-page %}
  <meta name="twitter:title" content="{{ page.title }}">
  <meta property='og:title' content="{{ page.title }}" />
  <title>{{ page.title-page }}</title>
  {% else %}
  <meta name="twitter:title" content="{{ site.title }}">
  <meta property='og:title' content="{{ site.title }}" />

  <title>{{ site.title }}</title>

  {% endif %} {% if page.url %}
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  <meta property='og:url' content="{{ site.url }}{{ page.url }}" />
   {% endif %} 
   {% if page.description %}
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="description" content="{{ page.description }}">
  <meta property='og:description' content="{{ page.description }}" />
   {% else %}
  <meta name="description" content="{{ page.description }}">
  
  <meta name="twitter:description" content="{{ page.description }}">
  <meta property='og:description' content="{{ page.description }}" /> 
  {% endif %} 
  {% if page.image %}
  <meta name="twitter:image:src" content="{{ site.url }}/images/posts/{{ page.image }}.jpg">
  <meta property='og:image' content="{{ site.url }}/images/posts/{{ page.image }}.jpg" /> {% else %}
  <meta name="twitter:image:src" content="http://i.imgur.com/7DThPa7.jpg">
  <meta property='og:image' content="http://i.imgur.com/7DThPa7.jpg" /> {% endif %}













