
<nav id="main_nav" class="main_nav">
  <a href="/" class="brand">
    <img class="navbar_logo" src="/images/logo_horizontal.png"  />
    
  </a>

  <!-- responsive-->
  <input id="bmenub" type="checkbox" class="show">
  <label for="bmenub" class="burger pseudo button"><i class="fa fa-bars"></i></label>

  <div class="menu">
    <ul>
      <a href="/blog">
        <li id="header_item">BLOG</li>
      </a>
      <a href="/projects">
        <li id="header_item">PROJECTS</li>
      </a>
      <a href="/about">
        <li id="header_item">ABOUT ME</li>
      </a>
      <a href="/feed.xml">
        <li id="header_item">RSS</li>
      </a>
  
    </ul>
  </div>
</nav>