
<nav id="main_nav" class="main_nav">
  <a href="/" class="brand">
    <img class="logo" src="/web/img/basket.png" />
    <span>Frostq</span>
  </a>

  <!-- responsive-->
  <input id="bmenub" type="checkbox" class="show">
  <label for="bmenub" class="burger pseudo button">menu</label>

  <div class="menu">
    <ul>
      <a href="/blog">
        <li id="header_item">BLOG</li>
      </a>
      <a href="/projects">
        <li id="header_item">PROJECTS</li>
      </a>
      <a href="/about">
        <li id="header_item">ABOUT ME</li>
      </a>
      <a href="/rss">
        <li id="header_item">RSS</li>
      </a>
  
    </ul>
  </div>
</nav>