<div class="post_list">
  <h2 class="latest">Latest stuff</h2>

  <div class="posts">
    {% assign counter = 0 %}
    {% if site.active_lang == 'es' %}
    {% for post in site.posts %} {% if post.lang == site.active_lang %}
    {% assign counter=counter | plus:1 %}
    {% if counter > 5 and counter < 16 %}
    <article class="flex two single_post">
      <div class="full fourth-1000">
        <span>
            <a href="{{site.baseurl}}{{post.url}}"><img class="responsive-img thumb posts_image" src="{{site.baseurl}}/images/posts/{{post.image}}.jpg"></img></a>
        </span>
      </div>
      <div class="full three-fourth-1000 posts_info">
        <h3 class="posts_title">
          <a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
        </h3>
        <small class="posts_date_tags">
          <span class="posts_date">
            <i aria-hidden="true" class="fa fa-calendar"></i>{{post.date | date: '%B %d, %Y'}} </span>

            {% for tag in post.tags %}
              <a class="tags" href="/tag#{{ tag | slugify }}">{{ tag }}</a>
            {% endfor %}

          </small>
        <p class="posts_summary">{{post.excerpt}}</p>

       
       
     

        {% if site.active_lang == 'es' %}
        <a class="posts_read_more" href="{{site.baseurl}}{{post.url}}">Leer más
          <span class="visuallyhidden">Leer más acerca de {{post.title}}</span>
        </a>
        {% endif %} {% if site.active_lang == 'en' %}
        <a class="posts_read_more" href="{{site.baseurl}}{{post.url}}">Read more
          <span class="visuallyhidden">Read more about {{post.title}}</span>
        </a>
        {% endif %}

      </div>
    </article>
    <hr aria-hidden="true"> {% endif %} {% endif %} {% endfor %} {% endif %} 

    {% if site.active_lang != 'es' %}
    {% for post in site.posts %} {% if post.lang == site.active_lang %}
    <article class="flex two single_post">
      <div class="full fourth-1000">
        <span>
          <img class="responsive-img thumb posts_image" src="{{site.baseurl}}/images/posts/{{post.image}}.jpg"></img>
        </span>
      </div>
      <div class="full three-fourth-1000 posts_info">
        <h3 class="posts_title">
          <a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
        </h3>
        <small>
          <span class="posts_date">
            <i aria-hidden="true" class="fa fa-calendar"></i>{{post.date | date: '%B %d, %Y'}} </span>
        </small>
        <p class="posts_summary">{{post.excerpt}}</p>

       
        {% if site.active_lang == 'es' %}
        <a class="posts_read_more" href="{{site.baseurl}}{{post.url}}">Leer más
          <span class="visuallyhidden">Leer más acerca de {{post.title}}</span>
        </a>
        {% endif %} {% if site.active_lang == 'en' %}
        <a class="posts_read_more" href="{{site.baseurl}}{{post.url}}">Read more
          <span class="visuallyhidden">Read more about {{post.title}}</span>
        </a>
        {% endif %}

      </div>
    </article>
    <hr aria-hidden="true"> {% endif %} {% endfor %}  {% endif %} 

  </div>
</div>