<div class="posts_half flex two ">

  {% assign counter = 0 %}
 

    {% for post in site.posts %}
   
      {% if post.lang == site.active_lang %}
      {% assign counter=counter | plus:1 %}
      {% if counter == 1 %}
      <article class="full post_half_bg" style="background-image: linear-gradient( rgba(52, 68, 83, 0.3), rgba(41, 56, 68, 0.9) ), url({{site.baseurl}}/images/posts/{{post.image}}.jpg)">
     
        <div class="half_bottom">
         <h3 class="half_title"> <a class="white" href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h3>

         <p class="half_summary">{{post.excerpt}}</p>

          {% for tag in post.tags %}
           <a class="tags" href="/tag#{{ tag | slugify }}">{{ tag }}</a>
          {% endfor %}
        
        </div>
       
      </article>
      {% endif %} 

      {% if counter != 1 %}
      {% if counter < 6 %}
        <article class="full half-500 post_half_bg" style="background-image: linear-gradient( rgba(52, 68, 83, 0.3), rgba(41, 56, 68, 0.9) ), url({{site.baseurl}}/images/posts/{{post.image}}.jpg)">
         
          <div class="half_bottom">
           <h3 class="half_title"> <a class="white" href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h3>

           <p class="half_summary">{{post.excerpt}}</p>

           {% for tag in post.tags %}
            <a class="tags" href="/tag#{{ tag | slugify }}">{{ tag }}</a>
           {% endfor %}
          
          </div>
         
        </article>

        {% endif %} 
        {% endif %} 
      
      {% endif %} 
    {% endfor %} 

  </div>