<!DOCTYPE html>

<html lang="es">

<head>

{% include head.html %}

</head>


<body>

  
  {{content}}



  {% include footer.html %}




  <script src="{{site.baseurl}}/js/prism.js"></script>
  <script src="{{site.baseurl}}/js/index.js"></script>
  <script type="text/javascript">
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker.register("/sw.js").then(function(registration) {
        console.log("Service Worker registration successful with scope: ", registration.scope);
      }).catch(function(err) {
        console.log("Service Worker registration failed: ", err);
      });
    }
  </script>



</body>







</html>
