<!DOCTYPE html>
<html>
<head>
<link rel="canonical" href="https://codingpotions.com/{{ page.url }}"/>
<meta http-equiv="content-type" content="https://codingpotions.com/{{ page.url }}" />
<meta http-equiv="refresh" content="0;url=https://codingpotions.com/{{ page.url }}" />
</head>
<body>
    <h1>Redirecting...</h1>
      <a href="https://codingpotions.com/{{ page.url }}">Click here if you are not redirected.<a>
      <script>location='https://codingpotions.com/{{ page.url }}'</script>
</body>
</html>
